
/* Start Sprite Master CSS */
.Star-1,.Star-2{display: inline-block;background-repeat: no-repeat;background-image: url('../images/assets/star.png');}
.Star-1{background-position:0px 0px;width:28px;height:26px;}
.Star-2{background-position:-28px 0px;width:28px;height:26px;}
/* End Sprite Master CSS */
