.bulletin-wrapper .desktop, .desktop
  display: none
.bulletin-wrapper .mobile, .mobile
  display: block
.internal
  padding: 0
.central, .central-prevencion
  width: 100%
footer.footer
  flex-flow: column nowrap

.bulletin-wrapper
  box-sizing: border-box
  display: table
  height: 100%
  padding: 0
  position: relative
  width: 100%
.bulletin-central
  box-sizing: border-box
  clear: both
  float: none !important
  display: block
  margin: 0 auto
  text-align: center
  width: 100%
.bulletin-centered
  text-align: center
.internal
  padding: 0