.compare-the-cost-of-your-dental-protection
  table
    display: block
    margin: 0 auto
  .greeting
    clear: both
    color: #005696
    display: block
    font-size: 26px
    font-family: Helvetica,Arial,'sans-serif'
    text-align: center
    width: 300px
  .image
    display: block
    clear: both
    margin: 0 auto
  .separator
    height: 0
    border: 0 none transparent
    border-top: 2px dashed red
    display: block
    clear: both
    width: 70%
  .nombre_cliente
    font-family: Arial, Helvetica, sans-serif
    font-size: 16px
    font-style: normal
    font-weight: normal
    color: #0C529C
    padding: 10px
    text-align: left
  .texto
    font-family: Arial, Helvetica, sans-serif
    font-size: 16px
    font-style: normal
    font-weight: normal
    line-height: 1.1em
    color: #0C529C
    padding: 0
    margin: 0
    text-align: center
  .blue_text, .red_text, .gray_text,
  .datos_agente, .blue_text_big, .sign,
  .gray_text_centered, .white-text
    font-family: Arial, Helvetica, sans-serif
    font-size: 18px
    font-style: normal
    font-weight: normal
    line-height: 1.5em
    padding: 0
    margin: 0 auto
    line-height: 1.5em
    width: 320px
  .blue_text,.red_text
    color: #0C529C
    margin: 10px auto
    text-align: left
  .white-text
    color: #fff
  .centered
    text-align: center !important
  .gray_text, .gray_text_centered
    color: #515151
    font-size: 14px
    font-weight: normal
    margin: 15px auto
    text-align: left
  .bold
    font-weight: bold
  .gray_text span, .blue_text,
  .datos_agente, .blue_text_big, .sign
    color: #00529C
  .blue_text_big
    font-size: 20px
  .datos_agente, .sign
    font-size: 13px
    margin: 5px 0
    text-align: center
    width: 305px
  .sign
    font-size: 18px
  .red_text,.red_text a,.red_text a:link,
  .red_text a:hover,.red_text a:active,.red_text a:visited
    color: red
    text-align: left
    text-decoration: none
  .foot_note
    font-size: 11px
  .complete
    width: 550px
  .very_big
    font-size: 22px
  .big
    font-size: 18px
  .medium
    font-size: 13px
  .small
    font-size: 11px
  .very_small
    font-size: 9px
  .list
    list-style: none outside
    margin: 0
    padding: 0
  .treinta
    width: 180px
  .treinta_y_cinco
    width: 210px
  .cuarenta
    width: 240px
  .cuarenta_y_cinco
    width: 270px
  .cincuenta
    width: 300px
  .cincuenta_y_cinco
    width: 330px
  .sesenta
    width: 360px
  .sesenta_y_cinco
    width: 390px
  .setenta
    width: 420px
  .setenta_y_cinco
    width: 450px
  .ochenta
    width: 480px
  .ochenta_y_cinco
    width: 510px
  .noventa
    width: 540px
  .legales
    background-color: #CCC
    color: #666 !important
    font-family: Arial, Helvetica, sans-serif
    font-size: 9px !important
    font-weight: normal !important
    line-height: 1em !important
    padding: 0 3px
    text-align: left !important
    text-decoration: none
  .internal-content
    background-color: transparent !important
