.importance-of-exercise
  background-color: $white-color
  p, span, strong, h1, h2, h3, h4, h5, h6, ul li, ol li
    font-size: em( 19, 16 )
    line-height: 1.2em
  .bulletin-title
    img
    .how-healthy-is-the-mexican
      h2
        font-size: em( 27, 16 )
      img
        align-self: flex-start
      .section
        .article
          .image
            img
          .text
            p
        .percentaje.desktop, .bicycle.mobile, > div.desktop, .accesories.desktop
          display: flex
          flex-flow: row nowrap
        .percentaje
          > div
            &:first-child,
            &:nth-child( 3 )
              width: 10%
            &:nth-child( 2 )
              width: 10%
            &:nth-child( 4 )
              width: 50%
            &:last-child
              width: 15%
          .image
            display: flex
            flex: row nowrap
            width: 10%
            img
          .text
            display: flex
            flex-flow: row nowrap
            width: 20%
            p
              align-self: flex-end
              margin: 0 0 15px !important
        > div.desktop
          .bicycle
            width: 15%
            .image
              img
            .text
              display: flex
              flex-flow: row nowrap
              width: 100%
              p
                align-self: flex-start
                width: 100%
          .both-parents
            width: 80%
            .image
              width: 20%
              img
            .text
              display: flex
              flex-flow: row nowrap
              width: 55%
              p
                align-self: flex-end
        .accesories
          .text, .gadgets
            width: 50%
          .text
            p
              margin-right: 15px
              text-align: right
              .dark-aqua
                color: $dark-aqua
                font-size: 1em
          .gadgets
            display: flex
            flex-flow: row nowrap
            .gadget
              display: flex
              flex-flow: column nowrap
              width: 25%
              &:nth-child( 2 )
                img
                  width: 45%
              &:nth-child( 3 )
                img
                  margin-bottom: 5px
              &:nth-child( 4 )
                img
                  margin-bottom: 12px
              img
                align-self: flex-end
                margin: 58px auto 0
                width: 70%
              p
                align-self: flex-end
                color: $dark-aqua
                font-size: em( 19, 16 )
                margin: 0 auto
                strong
                  font-size: 1em
  hr
  .bulletin-central
  .orange-pleca
  .main
    .junk-food
      .left
        p
          font-size: em( 19, 16 )
          text-align: center
          .orange
      .right
        img
          width: auto
    .cvd
      float: left
      width: 66%
      .article
        .title
          position: relative
          img
            bottom: -60px
            left: 0
            position: absolute
            transform: translate( 25%, 0 )
          .aqua
            float: right
            font-size: em( 22, 16 )
        .article-body
          float: right
          width: 75%
          p
            font-size: em( 18, 16 )
    .cancer-posibilities-title
      clear: right
      float: left
      width: 33%
      p
        font-size: em( 18, 16 )
        margin-top: 30px
        .aqua
          font-weight: bold
          width: auto
    .cancer-posibilities-body
      display: block
      float: left
      width: 100%
      .article
        .left, .right
          float: left
        .left
          display: flex
          flex-flow: column nowrap
          height: 221px
          width: 33%
          .aqua
            @include font-mask( normal, em( 25, 16 ), 1em, $helvetica, $aqua )
            float: left
            text-align: center
            top: 20px
          img
            align-self: flex-end
            display: block
            margin: 0.3em auto
            width: 60%
        .right
          display: flex
          flex-flow: row nowrap
          width: 66%
          img
            width: 40.01%
          ul
            width: 60%
            li
              font-size: em( 16, 16 )
              margin: 3% 0
              strong
    .activities-examples
      p
        float: left
        font-size: em( 17, 16 )
        margin: 0 1% 0 0
        width: 32%
        strong
      ul
        float: left
        height: 160px
        width: 33%
        &:last-child
          li
            &:before
              top: 20px
        li
          height: 50%
          width: 100%
          &:before
            top: 7px
          &:last-child
            margin-top: 5px
          p
            font-size: em( 25, 19.0333 )
            line-height: 1em
            width: 100%
  .footer
    .block
    .aqua
      p
        font-size: em( 23, 16 )
        width: 100%
    .foot-note
      p
        font-size: em( 16, 16 )
  hr
  .aqua-pleca