body,html
    margin: 0
    padding: 0
img
    border: 0
    height: auto
    max-width: 100%
    vertical-align: middle
.wrapper
    box-sizing: border-box
    display: table
    height: 100%
    padding: 0
    position: relative
    width: 100%
.central
    box-sizing: border-box
    clear: both
    float: none !important
    display: block
    margin: 0 auto
    width: 960px
#content
    background: url( '../images/esquina_Azul.png' ) no-repeat scroll right top #F2F2F2
    .prevencion
        h1
            clear: both
            display: block
            width: 100%
            margin: 0.25em auto
            img
                display: block
                margin: 0 auto